$feature-flags: (
  grid-columns-16: true,
);

@import "carbon-components/scss/globals/scss/styles.scss";
@import "carbon-components/scss/globals/grid/grid";

li.ibm-masthead-item-menu {
  display: none;
}

.bx--header {
  position: unset;
}